/* src/contact/Contact.css */

.contact-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

.contact-container {
  width: 30%;
  padding: 30px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-header {
  margin-bottom: 1px;
  margin-top: 15px;
  font-size: 2em;
  text-align: center;
}

.contact-sub-header {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 0.95em;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.contact-show-header {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1.1em;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
}

.form-group input:focus-within,
.form-group textarea:focus-within {
  border: 1px solid #1166DB;
}

.form-group textarea {
  resize: vertical;
  height: 200px;
  font-family: Arial, sans-serif;
}

.send-button {
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 20px;
}

.send-button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    padding: 15px;
    width: 80%;
  }

  .contact-header {
    font-size: 1.8em;
  }

  .form-group textarea {
    height: 150px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .contact-container {
    padding: 10px;
    width: 90%;
  }

  .contact-header {
    font-size: 1.5em;
  }

  .contact-sub-header {
    font-size: 0.85em;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px;
  }

  button {
    padding: 10px 16px;
    font-size: 14px;
  }
}