/* src/components/Navbar.css */

header {
    color: black;
    background-color: #fff;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    justify-content: flex-start;
}

.nav-center {
    display: flex;
    align-items: center;
    flex-basis: calc(100% - 40%);
    justify-content: center;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-basis: 20%;
    gap: 16px;
}

.nav-logo {
    height: 55px;
    width: auto;
    margin: 5px;
}

.nav-title {
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Button Styles */
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 16px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    border: none;
    outline: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    header{
        margin-bottom: 5px;
    }

    .nav-title {
        font-size: 16px;
    }

    .nav-logo {
        height: 40px;
    }

    .nav-center{
        display: none;
    }
    
    .nav-right{
        gap: 8px;
        margin-left: auto;
    }

    .button{
        padding: 8px 12px;
        font-size: 14px;
    }

}