/* src/App.css */

/* General Styling */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.content {
  flex: 1; /* This makes the main content area expand to fill available space */
}
